extends layout

block content
  if user
    h1 Welcome Back #{ user.userID }
    a( href='/log-out' ) Log Out

  else
    h1= title
    p Welcome to #{title}
    a( href='/sign-up' ) Sign Up
    a( href='/log-in' ) Log In
